@media screen and (max-width:648px) {
	.full-container {
		height: auto;
		margin-top: -10px;
		overflow: initial;
	}

	.main-content {
	}

	.page {
		width: 100vw;
		height: initial;
		position: relative;
		transform: none;
		left: initial;
		top: initial;
	}

	.main-content.home .container {
	}

	.main-content.client-list .container {
		margin-left: 0;
		text-align: center;
	}

	.main-content.photography .container {
	}

	.main-content.contact .container {
		margin-left: 10px;
	}

	.main-content.intro .container {
		margin-left: 0px;
		padding-left: 10px;
		padding-right: 20px;
		background-color: #3a3a3c;
	}

	.main-content.portfolio .container {
		width: auto;
		margin: 0;
		text-align: center;
	}

	.main-content.portfolio .container .details {
		height: auto;
		margin-left: 0;
		margin-top: 20px;
		width: auto;
		max-width: calc(100% - 20px);
	}

	.img-container {
	}

	.main-content.portfolio .img:first-child:nth-last-child(2) {
		width: 100%;
	}

	.main-content.portfolio .img {
		width: 50%;
	}

	.main-content.client-list .text,
	.main-content.portfolio .text {
		width: 100%;
	}

	.container .col {
		width: calc(100% - 20px);
	}

	.main-content.client-list .container .logo {
		width: 100%;
		height: 450px;
	}

	.main-content.client-list .container .col .image {
		margin: 0;
		width: 100%;
	}

	.main-content.client-list .container .col .text {
		padding-left: 0;
		width: 100%;
	}

	.client-images .img-container {
		width: calc(100% - 22px) !important;
		box-sizing: border-box;
	}

	.client-images .img {
	}

	.main-content.photography .portrait {
		margin: 11px;
		width: 43%;
	}

	.img-container {
		width: 43%;
	}

	.client-images {
		padding-left: 0 !important;
	}

	.main-content.photography {
		padding: 10px;		/* display: flex; */
		text-align: center;
	}

	.footer button,
	.contact .container .row {
		display: none;
	}

	.footer span {
		display: block;
	}

	.icons {
		display: block !important;
		right: initial !important;
		top: 26px;
	}

	.icons a {
	}

	.contact .container .form {
		height: 88px;
		margin-right: 10px;
	}

	menu {
		height: initial;
		position: relative;
		/* width: 120px; */
		left: 10px;
		top: 10px;
	}

	menu li {
		margin: 0 !important;
		line-height: 29px;
		display: block;
	}

	.main-content .waves {/* left: -130px; */overflow: hidden;top: -100px;position: absolute;}

	.main-content .wave {
		left: -800px;
	}

	.main-content .waves:before {
		left: 0px;
		content: none;
	}

	.main-content .boat {
		left: 90px;
		position: absolute;
		top: 230px;
	}

	body {
		background: #3a3a3c;
		/* overflow: hidden; */
	}

	.main-content.home {
		height: 558px;
	}

	.main-content.intro {
		position: initial;
		z-index: 0;
		height: auto;
	}

	.main-content .wave-1 { animation: none; }
	.main-content .wave-2 { animation: none; }
	.main-content .wave-3 { animation: none; }
	.main-content .wave-4 { animation: none; }
	.main-content .wave-5 { animation: none; }
	.main-content .wave-6 { animation: none; }
	.main-content .wave-7 { animation: none; }
	.main-content .wave-8 { animation: none; }

	.main-content.portfolio .container:after {
		width: 100vw;
		left: 0;
	}

	html {
		width: 100vw;
		/*overflow-x: hidden;*/
		height: initial;
	}

	#alert {
		width: 90vw;
	}

}