.main-content.portfolio .container {
	box-sizing: border-box;
	margin-left: 282px;
	padding-top: 20px;
	padding-bottom: 60px;
	width: 864px;
	font-size: 0;
	position: relative;
	/* padding-bottom: 20px; */
	/* margin-bottom: 20px; */
	/* border-bottom: solid 20px black; */
	/* margin-left: 0; */
	/* padding-left: 280px; */
	/* width: 30px; */
}
.main-content.portfolio .container:after {
	content: '';
	display: block;
	position: absolute;
	height: 20px;
	width: 1185px;
	background-color: #000;
	left: -289px;
	bottom: 10px;
}

.main-content.portfolio .img-large {
	width: 435px;
	height: 577px;
	display: inline-block;
	background-size: cover;
	background-position: 50% 99%;
	max-width: calc(100% - 20px);
}

.main-content.portfolio .details {
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
	margin-left: 35px;
	width: 390px;
}

.main-content.portfolio .img {
	width: 195px;
	height: 290px;
	display: inline-block;
	background-size: cover;
	background-position: 50% 74%;
}

.main-content.portfolio .img:first-child:nth-last-child(2) {
	width: 390px;
}

.main-content.client-list .text,
.main-content.portfolio .text {
	width: 391px;
	font-size: 14px;
	font-family: 'Rajdhani', sans-serif;
	margin-top: 16px;
	line-height: 21px;
	color: #858689;
	letter-spacing: 1px;
	box-sizing: border-box;
	text-align: left;
}

.main-content.client-list .text span:nth-child(2),
.main-content.portfolio .text span:nth-child(2) {
	letter-spacing: 0.5px;
}

.main-content.client-list .text p,
.main-content.portfolio .text p {
	margin-top: 20px;
}

.main-content.client-list .text span,
.main-content.portfolio .text span {
	display: block;
	font-weight: 500;
}

.main-content.client-list .text span em,
.main-content.portfolio .text span em {
	color: #ffce00;
}

.main-content.portfolio {
	padding-top: 28px;
}